.head {
	font-family: 'Barrio', cursive;
	color:red;
	text-align: center;
	font-size: 20px;
}

body{

	background-color:#D3D3D3;
}

.directions {
	background-color:white;
	text-align: left;
	font-size:15px;
	border:solid 1px red;
	height:250px;

}

.score {
	background-color:white;
	font-size:50px;
	height:250px;
	border:solid 1px red;
	text-align:center;
}

.wins {
	background-color:white;
	font-size:50px;
	height:250px;
	border:solid 1px red;
	text-align:center;
}

.userscore {
	background-color:white;
	margin-top:15px;
	font-size:50px;
	height:100px;
	border:solid 1px red;
	text-align:center;
}

.crys1:hover, .crys2:hover, .crys3:hover, .crys4:hover {
	opacity:.5;
}

.crystals {
	margin-top:15px;
	text-align:center;
}

p {
	font-family: 'Lobster', cursive;
}